
body {
    font-family: 'Rubik', sans-serif;
	color: #0106E9;
}

h1 {
    font-family: 'Rubik', sans-serif;
	font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
	user-select: none;
    margin-bottom: 10px;
}

p#subtitle {
    font-family: 'Roboto Mono';
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.4em;
	user-select: none;
    width: 300px;
}

#desc-wrapper {
	position: fixed;
	padding-left: 50px;
	width: 250px;
}

#toggle-wrapper {
    font-weight: 900;
    margin-top: 80px;
}

span.mdl-switch__label {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.8em;
    font-weight: 700;
}

label#cross-switch {
    margin-top: 10px;
}

.mdl-switch__track {
    background: #CACACA;
}

.mdl-switch.is-checked .mdl-switch__thumb {
    background: #0106E9;
}

#hang {
	padding: 0;
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

label {
	font-size: 20px;
	padding-bottom: 20px;
}

#clear-button, #play-button, #stop-button {
    background: #fff;
    border: 1px solid #0106E9;
    color: #0106E9;
    height: 30px;
	margin-top: 80px;
    width: 81px;
}

i.button-funct {
    margin-top: -10px;
}

#clear-button:hover, #play-button:hover, #stop-button:hover {
    background: #0106E9;
    border: 1px solid #0106E9;
    color: #fff;
}

#heart {
    color: #F10289;
	font-size: 12px;
}

#footer {
	bottom: 0;
    /*font-family: 'Rubik', sans-serif;*/
    font-size: 12px;
	left: 0;
    line-height: 3em;
    margin-left: 50px;
	position: fixed;
	text-align: left;
    width: 100%;
}
a {
    color: #0106E9;
    text-decoration: none;
}

a:hover {
    color: #F10289;
}
