
body {
	font-family: 'Crimson Text', serif;
	color: #0106e9;
}

h1 {
    font-family: 'Open Sans', sans-serif;
	font-size: 44px;
    font-weight: 100;
	user-select: none;
    margin-bottom: 20px;
}

p#subtitle {
    font-family: 'Cardo', serif;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 30px;
}

p {
	font-size: 18px;
	user-select: none;
}

#desc-wrapper {
	position: fixed;
	padding-left: 50px;
	width: 250px;
}

#toggle-wrapper {
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 20px;
    font-weight: 900;
    margin-top: 40px;
    /*text-transform: uppercase;*/
}

#hang {
	padding: 0;
    margin: auto;
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

label {
	font-size: 20px;
	padding-bottom: 20px;
}

#clear-button, #play-button, #stop-button {
    background: #fff;
    border: 1px solid #0106e9;
    color: #0106e9;
    height: 40px;
	margin-top: 50px;
    width: 78px;
}

#clear-button:hover, #play-button:hover, #stop-button:hover {
    background: #0106e9;
    border: 1px solid #0106e9;
    color: #fff;
}